.header{
    width: 1300px;
    display: flex;
    gap: 100px;
    align-items: center;
    margin-top: -0.5rem;
    margin-left: 2rem;
}

.logo-kgx{
    padding-left: 2rem;
    width: 60px;
    position: absolute;
}

.headnav{
    display: flex;
    gap: 50px;
    margin-left: 20rem;
}

.headnav,h4{
    color: var(--color-white);
}

.headbutton{
    align-items: center;
    margin-top: 0.5rem;
    margin-left: 9rem;
}

.sign,a{
    color: var(--color-white);
}

.signup{
    border-radius: 5rem;
    border: 2px solid var(--color-white);
    padding: 0.8rem;
    width: 7rem;
    height: 7rem;
    margin-top: 1rem;
    margin-left: 8rem;
}

a:link{
    color: var(--color-white);
    text-decoration-color: var(--color-white);
    text-decoration-line: none;
}

.signup:hover{
    background-color: burlywood;
}

.mobile-nav{
    display: none;
}

/* ======================= MEDIUM DEVICES ================ */

    @media screen and (max-width:1024px) {
        .header{
            width: 750px;
            max-width: 100%;
            display: flex;
            margin-top: -0.5rem;
            margin-left: -0.5rem;
            gap: 1rem;
        }

        .headnav{
            display: none;
        }

        .mobile-nav{
            display: flex;
            color: white;
            /* margin-left: -5rem; */
        }

        .signup{
            border-radius: 5rem;
            border: 2px solid var(--color-white);
            padding: 0.8rem;
            width: 4rem;
            height: 4rem;
            margin-top: 1rem;
            margin-left: 3.8rem;
        }

        .mobile-headnav{
            position: absolute;
            background-color: blueviolet;
            color: var(--color-bg);
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            width: 90%;
            margin-left: -83%;
            margin-top: 1.5rem;
            padding: 1rem;
            padding-top: -1rem;
        }
    }

    /* =================== SMALL DEVICES ========================= */

    @media screen and (max-width:768px) {
        .header{
            margin: 0;
            padding: 0;
            width: 100%;
            display: flex;
            margin-top: -0.5rem;
            margin-left: -0.5rem;
            gap: 10%;
            height: 3.5rem;
            align-items: center;
        }

        .headnav{
            display: none;
        }

        .mobile-nav{
            display: flex;
            color: white;
            /* margin-left: -5rem; */
        }

        .signup{
            border-radius: 3rem;
            border: 2px solid var(--color-white);
            width: 5rem;
            height: 1%; 
            margin-left: 1%;
            font-size: 0.6rem;
        }

        .sign{
            margin-top: 20%;
            padding: 0.05%;
            display: flex;
            width: 90%;
            height: 5%;
            justify-content: center;
        }

        .headbutton{
            margin-top: -0.5rem;
            align-items: center;
            justify-content: center;
            display: flex;
            width: 6rem;
            max-width: 100%;
            margin-left: 53%;
        }

        .mobile-headnav{
            position: absolute;
            background-color: blueviolet;
            color: var(--color-bg);
            display: flex;
            flex-direction: column;
            gap: 0.1rem;
            width: 90%;
            /* margin-top: 1.5rem; */
            margin-right: 1%;
            padding: 1rem;
            padding-top: -1rem;
        }
    }