:root {
    --color-bg: rgb(55, 0, 60);
    --color-black: rgb(0, 0, 0);
    --color-white: #fff;
    --color-light: rgb(141, 138, 138);
    --color-variant: rgb(225, 42, 137);
    --color-drop: rgb(225, 40, 130);
    --color-bg-variant: rgb(45, 55, 101);
    --color-btn: orangered;

    --transition: all 400ms ease;
    width: 1365px;
    max-resolution: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: 2vh;
}

 body {
    font-family: 'Segoe UI', sans-serif;
    background-image: linear-gradient(to right, rgb(0,11,135), rgb(205,131,194));
 }

 .container {
    width: 75%;
 }

 a:link {
    cursor: pointer;
 }

/* ========================== MEDIA QUERIES (MEDIUM DEVICES) ====================== */
@media screen and (max-width: 1024px) {
    :root{
        width: 75%;
    }
}

/* ========================== MEDIA QUERIES (SMALL DEVICES) ====================== */
@media screen and (max-width: 768px) {
    :root{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .html,body{
        scroll-behavior: smooth;
    }
}